@charset "utf-8";

/*----------------------------------------------------------------------------------------------------------

[Layout Stylesheet of all Admin pages]

Project:	Admin console

Version:	1.0

Author: Interberry Solutions

----------------------------------------------------------------------------------------------------------*/

/*------------------------------GLOBAL RESET--------------------------------------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {

margin: 0; padding: 0; border: 0; outline: 0;}

table {	border-collapse: collapse;	border-spacing: 0;}

h1, h2, h3, h4, h5, h6 {	font-weight: normal;	font-size: 100%;}



/*------------------------------COMMON CSS CLASSES------------------------------------------------------*/

html, body{

/*height: 101%;*/

}

body {

background:#FFF;

font-family:Arial, Helvetica, sans-serif;

font-size:12px !important;

color:#333;

}

a{color:#000; font-weight:bold;	text-decoration:none; outline:none;}

a:hover {color:#555;	text-decoration:underline;}

a img {border:none;}

.noborder{border:none !important;}

.nobg{background:none !important;}

.nopleft{padding-left:0px!important;}

.nomarginleft{margin-left:0px!important;}

.nomargin{margin: 0px 0px 0px 0px !important;}

.nopadding{padding: 0px 0px 0px 0px !important;}

.nomarginpadding{margin: 0px 0px 0px 0px;	padding: 0px 0px 0px 0px !important;}

.imgfleft{float:left;	margin:0px 10px 10px 0px;}

.imgfright{float:right;	margin:0px 0px 10px 10px;}

.inblock{display:inline-block;}

.fleft{float:left;}

.fright{float:right;}

.clear{clear:both;}

.jusify{text-align:justify;}

.block .message , .mainBox, .curveEdges{

/*-webkit-border-radius: 5px;

-moz-border-radius: 5px;

border-radius: 5px; 

-khtml-border-radius: 4px;*/

}

/*-------------------------------GLOBAL LAYOUT-------------------------------------------------------*/

.pageWrapper	{

	margin:0 auto !important;

	width:1007px;/*width:1000px;*/

 overflow:hidden;}

	

.pageHeader{

	/*background: url(../img/panel/bg_body.gif) repeat-x top left;*/

	overflow:hidden;

	margin:0 auto !important;

	width:100%;

	padding:10px;

}

.contentWrapper{

	margin:0 auto 15px !important;

	width:967px;

	overflow:hidden;

	padding:10px;

 	clear:both;

	background:#FFF;

	-webkit-border-radius: 8px;

	border-radius: 8px;

	-webkit-box-shadow:  0px 0px 7px 1px rgba(1, 1, 1, .2);

	box-shadow:  0px 0px 7px 1px rgba(1, 1, 1, .2);

	border:1px solid #fff;

}

.pageFooter{

	margin:0 auto !important;

	width:100%;

	padding:10px 0;

	overflow:hidden;

	color:#FFF;

	background:#18A9DD;

	text-align:center;

}

/*-------------------------------COMMON SITE HEADER---------------------------------------------------*/

.logo{ float:left; width:65%; padding:0 0 0 10px;}

.logo span {

height:115px;

width:190px;

float:left;

padding:0px 0 0 0;

}

.logo .viewWebsite {

	float:left;

	display:block;

	color:#fff;

	text-decoration:none;

	margin:1px 0 0 10px;

	padding:5px;

	/*background:#74bcca;*/

	/*border:1px solid #FFFFFF;*/

	margin:49px 0 0 210px;

	background:#18A9DD;

	-webkit-border-radius: 8px;    

    border-radius: 8px;

	padding:5px 10px;

}

.logo .viewWebsite:hover {

 color:#000;

 text-decoration:none;

 background:#FFF;

}

.loginInfos {

float:right;

font-size:12px;

color:#000;

margin:45px 10px 0 0;

}

.loginInfos p {

display:block;

padding:2px;

text-align:right;

}

.loginInfos a {

 color:#000;

 text-decoration:none;

}

.loginInfos a:hover{

 color:#ff0000;

 text-decoration:none;

}

/*---------------------------Site Navigation & Dropdown menu--------------------------------------*/

.siteNav{

width:96.4%;

clear:both;

float:left;

padding:0 10px;

background:url(../img/menu_bg.png) repeat-x top left;

-webkit-border-radius: 8px;

border-radius: 8px;

-webkit-box-shadow:  0px 0px 7px 1px rgba(1, 1, 1, .2);

box-shadow:  0px 0px 7px 1px rgba(1, 1, 1, .2);

border:1px solid #fff;

}

.siteNav ul{padding:0;margin:0;}

.siteNav li {

float: left;

/*padding:5px 0;*/

height:48px;

margin:0;

list-style:none;

line-height: 22px;

position: relative; /*--Declare X and Y axis base--*/



}

/*---------------------------Site Navigation & Dropdown menu--------------------------------------*/

.siteNav li a{

color:#FFF;

font-weight:bold;

text-decoration:none;

/*text-transform:uppercase;*/

display:inline-block;

padding:12px 9px 11px 9px;

text-shadow: 1px 1px 1px #333;

}

.siteNav li.selected a, .siteNav ul li a:hover{

color:#FFF;

text-decoration:none;

background:url(../img/menu_bg-over.png) repeat-x top left;

height:48px;



/*-webkit-border-radius: 8px;

border-radius: 8px;*/

}

/* Bread Crumb */

.subNav{

background:#00495f;

height:20px;

padding:10px 10px 5px 10px;

font-size:12px;

color:#FFF;

}

.subNav a{

color:#FFF;

font-weight:bold;

text-transform:uppercase;

margin:0 8px;

display:inline-block;

}

.subNav a:hover{

color:#74bcca;

text-decoration:underline;}

.subNav .active{

color:#53e3ff;

text-decoration:none;}

/*---------------------------Content Boxs-------------------------------------*/

.mainBox{

/*-webkit-box-shadow: 1px 1px 1px #a6a6a6;

-moz-box-shadow: 1px 1px 1px #a6a6a6;

box-shadow: 1px 1px1px #a6a6a6; */

margin:0px 5px 15px;

width:98.3%;

overflow:hidden;

}

/*---------------------------Content Boxs Colors-------------------------------------*/

.mainBoxborder{

/*border:1px solid #666;*/

}

.subBoxborder {/*border:3px solid #F1F1F1;*/}

.mainBoxborder h1{

font-size:22px;

color:#1DAED9;

/*text-shadow: 1px 1px 1px #666;*/

font-weight:bold;





}

.subBoxborder h1{

font-size:22px;

color:#1DAED9;

font-weight:bold;

/*text-shadow: 1px 1px 1px #FFF;*/

}

/*---------------------------Dashboard Quick Shortcut Boxes-------------------------*/

.quickShortcut{

width:12.80%;

overflow:hidden;

margin:0 .5em

} 

html > body .quickShortcut{

width:12.95%;

}

.quickShortcut a{

border:1px solid #CCC;

background:#eeeeee;

padding:3px;

display:block; 

font-size:11px;

text-decoration:none;

color:#000;

}

.quickShortcut a span{

display:block;

background:#f8f8f8;

text-align:center;

padding:5px 0;

}

.quickShortcut b{

font-weight:normal;

display:block;

background:#f8f8f8;

text-align:center;

padding:3px 3px;

height:28px;

}

.quickShortcut a:hover{

border:1px solid #18AADF;

background:#dcf0f6;

text-decoration:none;

color:#1268B9;

}

.quickShortcut a:hover span, .quickShortcut a:hover b{

background:#FFF;

}

/* -------------------------------Content Block CSS----------------------------*/

.block {

clear:both;

}

.block_head {

background:#fff !important /*url(../img/menu_bg-over.png) repeat-x right !important*/;

padding:0px 10px;

height:45px;

line-height:45px;

overflow:hidden;

border-bottom:1px solid #ccc;



}

/* header tabs */

.block .block_head ul {

float:right;

font-size:12px;

font-weight:bold;

text-shadow:1px 1px 0 #000;

text-transform:uppercase;

padding:10px 0 0 0;

margin:0;

line-height:35px;

}

.block .block_head ul li {

display:inline;

padding:3px 0 3px 10px;

}

.block .block_head ul li a {

color:#FFF;

outline:medium none;

text-decoration:none;

background:#777;

display:inline-block;

padding:0 10px;

}

.block .block_head ul li.active a {

color:#888888;

background:#FFF;

text-shadow:1px 1px 0 #CCC;

}

.block .block_head ul li a:hover {

background:#FFF;

color:#777;

}

.block .block_content {

overflow:hidden;

padding:10px 0;

}

.block .block_content h1, .block .block_content h2 {

color:#454545;

font-family:"Titillium999","Trebuchet MS",Arial,sans-serif;

font-size:18px;

font-weight:normal;

margin-bottom:10px;

}

/*------------------------------Common Table CSS ---------------------------*/

.block table{

width:100%;

border:0;

margin:0;

padding:0;

font-family:Arial, Helvetica, sans-serif;

font-size:12px;

border:#aee6f6 solid 1px;

}

.block table th{

background:#aee6f6;

color:#1374CA !important;

/*border-bottom:2px solid #cfebe9;*/

font-weight:bold;

text-decoration:none;

line-height:35px;

text-align:left;

padding:5px 0 3px 10px;

}

th a {

font-size:14px !important;

font-weight:bold;

color:#1374CA;

display: block;

text-decoration: none;

}

th a:hover {

color:#000;

text-decoration:underline;}

th.actions {

text-align: center !important;

}

td.actions {

text-align: center;

white-space: nowrap;

}

td.actions a {

margin: 0px 2px;

}

.block table td{

background:#f7f7f7;

border-bottom:1px solid #aee6f6;

padding:10px 0 6px 10px;

}

table tr.altrow td {

background: #FFF;

}



.block .tableactions {

float:left;

overflow:hidden;

padding:10px 0;

}

.block .tableactions select {

margin-right:5px;

outline:medium none;

vertical-align:middle;

width:100px;

}

/*---------------------------------Pagination CSS ---------------------------*/

.block .pagination {

border-top:1px solid #EEEEEE;

font-size:10px;

font-weight:bold;

padding-bottom:15px;

padding-top:15px;

}

.block .pagination.right {

border:0 none;

float:right;

overflow:hidden;

padding-top:1px;

text-align:right;

width:500px;

}

.block .pagination a {

-moz-border-radius:3px 3px 3px 3px;

border:1px solid #CCCCCC;

margin:0 1px;

padding:3px 6px;

}

.block .pagination a.active {

background:none repeat scroll 0 0 #1a6377;

border:1px solid #CCC;

color:#FFFFFF;

}

.block .pagination a:hover {

background:none repeat scroll 0 0 #a4b6b5;

border:1px solid #CCC;

color:#000;

}

.block hr {

background:none no-repeat scroll 0 0 transparent;

border-color:-moz-use-text-color -moz-use-text-color #DDDDDD;

border-style:none none solid;

border-width:0 0 1px;

height:1px;

margin-bottom:15px;

}



/*------------------------MESSGAES --------------------*/

/* Notices and Errors */

div.message{

	clear: both;

	color: #900;

	-moz-border-radius:3px 3px 3px 3px;

	font-weight:bold;

	font-size:12px !important;

	margin:10px 0;

	overflow:hidden;

	padding:10px 15px;

	/*padding:10px 15px 10px 40px;*/

	border:1px solid #E5E181;

 color:#666666;

 background:#FEFDE2;

 

	/*background:url("../img/panel/warning.gif") no-repeat scroll 12px 12px #FEFDE2;*/

}

div.message .close {

background:url("../img/panel/close.png") no-repeat scroll 0 0 transparent;

cursor:pointer;

display:block;

float:right;

height:16px;

margin-top:2px;

opacity:0.7;

width:16px;

}

div.message .close.hover {

opacity:1;

}

/*------------------------Login Section --------------------*/

.topSection {

    /*background: url(../img/topbg3.jpg) no-repeat scroll right center rgba(0, 0, 0, 0);*/

    height: 110px;

    margin: 0 auto;

    position: relative;

    width: 1000px;

}

body#login {

color: #fff;

background:#fff;/* #e2e2e2 url(../img/panel/login_bg.png) repeat-x top left;*/

		}

#login-wrapper .login_box{

	background:#fff;

	-webkit-border-radius: 8px;

	border-radius: 8px;

	width:35%;

	margin:160px auto 40px auto;

	-webkit-box-shadow:  0px 0px 7px 1px rgba(1, 1, 1, .2);

    box-shadow:  0px 0px 7px 1px rgba(1, 1, 1, .2);

}

#login-wrapper .sub_btn{

	Background:url(../img/sub_bg.png) repeat top left;

    border: 0 none;

    color: #FFFFFF;

    cursor: pointer;

    display: inline;

    font-size: 100%;

    font-weight: bold;

    margin-right: 10px;

    padding: 4px 6px;

    vertical-align: middle;

    width: 95px;

	font-family:Arial, Helvetica, sans-serif;

	-webkit-border-radius: 5px;

	border-radius: 5px;

	border:none !important;

}

#login-wrapper .sub_btn:hover{

	Background:url(../img/sub_bg.png) repeat bottom left;

    border: 0 none;

    color: #FFFFFF;

    cursor: pointer;

    display: inline;

    font-size: 100%;

    font-weight: bold;

    margin-right: 10px;

    padding: 4px 6px;

    vertical-align: middle;

    width: 95px;

	font-family:Arial, Helvetica, sans-serif;

	-webkit-border-radius: 5px;

	border-radius: 5px;

	border:none !important;

}

#login-wrapper {

width:100%;

margin:0 auto 0 auto;



/*-webkit-border-radius: 5px;

-moz-border-radius: 5px;

border-radius: 5px; 

-khtml-border-radius: 4px;

overflow:hidden;*/



}

#login-wrapper #login-top {

width: 98.9%;

padding: 15px 0 15px 0;

text-align: center;

background: url(../img/hd-bg.jpg) no-repeat top left;

-webkit-border-radius: 8px 8px 0 0;

border-radius: 8px 8px 0 0;

color:#fff;

border:3px solid #fff;

margin-bottom:10px;

}

#login-wrapper #login-top h1 {

font-size:24px;

color:#fff;

text-shadow: 1px 1px 1px #000;

font-weight:bold;



}

#AdminLoginForm .message{

	clear: both;

	color: #f00 !important;

	-moz-border-radius:3px 3px 3px 3px;

	font-weight:bold;

	font-size:12px !important;

	margin:0px 0 10px;

	overflow:hidden;

	padding:10px 15px;

	/*padding:10px 15px 10px 40px;*/

	border:none;

 	color:#666666;

 	background:#fff;

	text-align:center;

 

	/*background:url("../img/panel/warning.gif") no-repeat scroll 12px 12px #FEFDE2;*/

}

#login-wrapper #login-content {

text-align: left;

width: 300px;

margin: 0 auto;

}

#login-wrapper #login-content label {

color: #1B75BC;

font-weight: normal;

font-size: 14px;

font-family: Helvetica, Arial, sans-serif;

float: left;

width: 70px;

padding:6px 0 0 0;

}



#login-wrapper #login-content input {

width: 200px;

font-size:100%;

float: right;

margin: 0 0 20px 0;

border: 0;

-webkit-border-radius: 3px;

border-radius: 3px;

height:30px;

border:1px solid #ccc;

padding:0 !important

}



#login-wrapper #login-content p {

padding: 0;

}

#login-wrapper #login-content a{

color:#0066CC;

}



.details_outter{

 width:700px;

	overflow:hidden;

}

.details_outter .details {

 width:45.2%;

	float:left;

	padding:5px;

	margin:0 10px;

	overflow:hidden;

	border-bottom:1px solid #CCC;

}

.details_outter .details span {

display:inline-block;

width:48%;

float:left;

}

.details_outter .details span strong{

color:#4e918d;

}



.details_outter h2{

font-family:Arial, Helvetica, sans-serif;

font-size:12px;

color:#333;

text-decoration:none;

display:block;

border-bottom:1px solid #009999;

padding:5px 0;

margin:5px 0;

line-height:30px;

float:none;

clear:both;

overflow:hidden;

}

.details_outter img {

	border:1px solid #bfc0c4;

	padding:5px;

	background:#FFF;

	margin:10px 10px;

	max-width:250px;

	max-height:250px;

	display:inline-block;

}

*html .details_outter img {

width: expression( document.body.clientWidth > 250 ? "250px" : "auto" ); /* sets max-width for IE */

height: expression( this.scrollHeight > 250 ? "250px" : "auto" ); /* sets max-height for IE */

}





.searchtable {

background:#cfebe9 !important;

padding:10px;

width:98%;

margin-bottom:10px;

overflow:hidden;

-webkit-border-radius: 5px;

-moz-border-radius: 5px;

border-radius: 5px; 

-khtml-border-radius: 4px;

}

.searchtable select {

width:300px;

padding:4px;}



ul.downloads li{

padding:4px 0;

}

